.map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
}

.description{
  text-align: center;
}

.pic{
  height: 200px;
  width: 150px;
}
